<!DOCTYPE html>
<html lang="en">

<head>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personnel Navigant Commercial</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset('bundles/front/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{asset('bundles/front/css/business-casual.css')}}" rel="stylesheet">

</head>

<body>

<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Personnel Navigant Commercial</div>
<div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Tunisair</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">PNC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-2">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('front_homepage') }}">Le Programme du PNC <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-lg-2">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('show') }}">liste des PNC </a>
            </li>
            <li class="nav-item px-lg-2">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('showActu') }}"> Les actualités</a>
            </li>

            <li class="nav-item px-lg-2">
                <a class="nav-link text-uppercase text-expanded" href="{{ path('rechV') }}">Recherche PNC par Vol</a>
            </li>

            <li class="nav-item px-lg-2">
                <a class="nav-link text-uppercase text-expanded" href="">Contacts</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="bg-faded p-4 my-4">
        <!-- Image Carousel -->

        <!-- Welcome Message -->
        <div class="text-center mt-4">
            <div class="text-heading text-muted text-lg">Bienvenu au</div>
            <h3 class="my-2">Personnel Navigant Commercial</h3>
            <div class="text-heading text-muted text-lg"><strong>De Tunisair</strong></div>
            {% block calender %}
            {% endblock %}


        </div>


    </div>





<!-- /.container -->

<footer class="bg-faded text-center py-5">
    <div class="container">
        <p class="m-0">Tunisair &copy; 2017</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{asset('bundles/front/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{asset('bundles/front/vendor/popper/popper.min.js')}}"></script>
<script src="{{asset('bundles/front/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />



<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>


</body>

</html>
